
@{
    ViewBag.Title = "FormContent";
}

<h2>FormContent</h2>

<h3>Name: @ViewBag.name</h3>
<h3>Number: @ViewBag.num</h3>
<h3>Gender: @ViewBag.gender</h3>
<h3>Country: @ViewBag.Cont</h3>
<h3>Interests: @ViewBag.inter</h3>